  /* skills set */

  .skill-set
  {
    width: 100%;
    height: 100vh;
    margin-left: 40px;
    overflow: hidden;
    display: block;
  }

  .skill-page
  {

    display:inline-flex;

  }
  .skill-set h2{

    font-size: 5rem; 

  }
  .skill-set p{

    font-size: 2rem;
    font-weight: 10;
  }
  .skill-container
  {
    display: block;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    margin-right: 15px;
    width: 325px;
    height: 175px;
    border: 2px solid grey;
    text-align: center;
    border-radius: 8px;
}

.skill-set img
{
    width: 100px;
    height: 85px;
}

#pro
{

    font-weight: bolder;
    font-size: 1.5rem;
}